:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Roboto", Arial, sans-serif;
    --body-font: "Roboto", Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

article {
    position: absolute;
    top: 275px;
    width: 96%;
    padding: 16px;
    margin: 18px;
    text-align: left;
    opacity: 0.9;
    background-color: var(--accent2-color);
    color: black;
}

.hero article {
    position: absolute;
}

.hero article img {
    float: right;
    width: 125px;
    border: solid var(--secondary-color);
}

section h2 {
    position: relative;
    text-align: center;
    width: 100%;
    background-color: var(--accent1-color);
    color: #fff;
    padding: 10px;
}

section p {
    font-size: small;
}

footer p {
    padding: 0;
    font-size: small;
    margin: 0;
}

.socialmedia img {
    height: 35px;
}