:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Arial", Helvetica, sans-serif;
    --body-font: "Arial", Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    background-color: white;
}

header div.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

li a {
    text-decoration: none;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
    text-decoration: none;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.history div {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.history img {
    width: 210px;
    border: solid var(--secondary-color);
    align-items: center;
    justify-items: center;
}

figure img,
figcaption {
    width: 120px;
    height: auto;
    text-align: center;
}

.adventures div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 15px;
    justify-items: center;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero-c h1 {
    position: relative;
}

article {
    position: absolute;
    top: 150px;
    width: 96%;
    padding: 16px;
    margin: 18px;
    text-align: left;
    opacity: 0.9;
    background-color: var(--accent2-color);
    color: black;
}

.hero article {
    position: absolute;
}

.hero article img {
    float: right;
    width: 125px;
    border: solid var(--secondary-color);
}

section h2 {
    position: relative;
    text-align: center;
    width: 100%;
    background-color: var(--accent1-color);
    color: #fff;
    padding: 10px;
}

section p {
    font-size: small;
}

.contact p {
    padding: 0;
    margin: 0 auto;
}

iframe {
    width: 375px;
    height: 355px;
}

.contact-header {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

footer {
    background-color: white;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-size: small;
    margin-inline: auto;
    text-align: center;
    grid-column: span 3;
}

footer nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.map-form-group, .purpose, .column2 {
    display: grid;
    grid-template-columns: 0.75fr 2fr;
    gap: 2rem;
    padding: .25rem 0;
    align-items: center;
}

.message-box {
    padding: .25rem 0;
    display: flex;
    flex-direction: column;
    justify-items: left;
}

.employees {
    display: block;
    background-color: antiquewhite;
    padding: 5px 0;
}

.employees h2 {
    color: black;
    text-align: center;
    margin: 1rem;
}

.employees div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
textarea {
    width: auto;
}

.checkbox {
    text-align: left;
    padding: 5px 0;
}

button {
    width: 370px;
    height: 30px;
    text-align: center;
    padding: 5px 0;
    display: block;
    justify-self: center;
}

.column2 input {
    padding: 10px;
}

.socialmedia a {
    text-decoration: none;
    margin-right: 10px;
}

.socialmedia img {
    width: 32px;
    height: auto;
    padding: 1px;
}

.radio-options {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.radio-options div {
    padding: .5rem;
}