:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Arial", Helvetica, sans-serif;
    --body-font: "Arial", Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
}

header div.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

li a {
    text-decoration: none;
    font-style: bold;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
    text-decoration: none;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}



.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.history div {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.history img {
    float: center;
    width: 200px;
    margin: 0 16px 16px 0;
    border: solid var(--secondary-color);
}

figure img,
figcaption {
    width: 120px;
    height: auto;
    text-align: center;
}

.adventures div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 15px;
    justify-items: center;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

article {
    position: absolute;
    top: 150px;
    width: 96%;
    padding: 16px;
    margin: 18px;
    text-align: left;
    opacity: 0.9;
    background-color: var(--accent2-color);
    color: black;
}

.hero article {
    position: absolute;
}

.hero article img {
    float: right;
    width: 125px;
    border: solid var(--secondary-color);
}

section h2 {
    position: relative;
    text-align: center;
    width: 100%;
    background-color: var(--accent1-color);
    color: #fff;
    padding: 10px;
}

section p {
    font-size: small;
}

.footer-content {
    position: absolute;
    align-items: center;
}

footer p {
    padding: 0;
    font-size: small;
    margin: 0;
    text-align: center;
}

.socialmedia img {
    width: 32px;
    height: auto;
    float: right;
    margin: 0 8px;
}