:root {
    --background-color: darkblue;
    --text-align: center;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #000;
    padding: 1px;
    box-shadow: 0 0 30px #333;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 10 / 0.2);
    padding: 1rem;
    background-color: var(--background-color);
    color: white;
    text-align: var(--text-align);
}

aside img {
    width: 200px;
    height: auto;
}

h1 {
    color: var(--background-color);
}

img {
    width: 150px;
    height: auto;
    border: 1px;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-align);
}