* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: darkblue;
    --text-align: center;
}

header,
footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    justify-items: center;
    max-width: 840px;
}

body div {
    max-width: 840px;
    margin: 0 auto;
}

main {
    grid-column: 2/3;
    margin: 1rem;
    max-width: 840px;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2
}

body {
    font-size: 16px;
    font-family: 'Roboto', Arial, sans-serif;
}

nav {
    background-color: var(--background-color);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #000;
    padding: 1px;
    box-shadow: 0 0 30px #333;
    float: right;
    margin: 1rem;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 10 / 0.2);
    padding: 1rem;
    background-color: var(--background-color);
    color: white;
    text-align: var(--text-align);
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 18px;
    left: 65px;
    font-size: 15px;
}

h1 {
    color: var(--background-color);
    padding: .5rem;
    border-bottom: black 2px solid;
}

img {
    width: 150px;
    height: auto;
    border: 1px;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
    margin: 1rem;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-align);
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

.indent {
    padding-left: 2rem;
}